<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static',filename='./images/favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/estilos.css')}}">
    <title>{{titulo_pagina}}</title>
    </head>
    <body>
        <div class="barra_navegacion">
            <nav>
              <a href="./">
                <img src="{{ url_for('static', filename = './images/LiBy-logos_white.png')}}" alt="Logo de Liby" class="logo">
              </a>
              <a href="./Logout" class="desconectarse">Cerrar Sesion</a>
            </nav>
        </div>
        <hr>
        <div class="operaciones">
            <section class="user_options">
                <div>
                    <li><a href="./Administrar_inventario"><br><br>Administrar Inventario</a></li>
                    <li><a href="./Administrar_RP"><br><br>Administrar Reservas y Pagos</a></li>
                </div>
            </section>
            <section class="window">
                <div style="margin-top: 130px;margin-left: 100px;">
                    <h1>Confirmas que quieres eliminar {{titulolibro}}</h1>
                    
                    <form class="update_data--form2" method="POST" action="{{ url_for('deletebook') }}">
                        <div class="opciones2">
                            <div>
                                <input type="hidden" value="{{informacion}}" name="identificador">
                            </div>
                            <div>
                                <input type="submit" value="Confirmar" class="update_button">
                            </div>
                        </div>
                        <div>
                            <a class="back__button2" href="{{url_for('eliminarLibro')}}">Cancelar</a>
                        </div>
                    </form>
                </div>
            </section>
        </div>
</html>