<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static',filename='./images/favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/estilos.css')}}">
    <title>{{titulo_pagina}}</title>
</head>
<body>

    <div class="barra_navegacion">
        <nav>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename = './images/LiBy-logos_white.png')}}" alt="Logo de Liby" class="logo">
        </a>
        <form class="barra_busqueda" method="POST" action="{{ url_for('buscar') }}">
            <input type="text" name="entrada" placeholder="Buscar...">
            <input type="image" src="{{ url_for('static', filename = './images/lupita.png')}}" class="search_button">
        </form>
        <a href="./Login">
            <img src="{{ url_for('static', filename = './images/user-icon.png')}}" alt="Acceso a perfil" class="logo2">
        </a>
        </nav>
    </div>
    <hr>
    <section class="window2">
        <div>
            <h1>Reservar pedido</h1>
            <hr style="color: black;">
        </div>
        <section class="carrusel4">
            
            <form style="width: 500px;" method="POST" action="{{ url_for('reservar') }}">
                <div class="update">
                    <label for="cantida">Productos a reservar:</label>
                    {% for a in articles %}
                    <div style="display: flex;flex-direction: row;">
                        <input style="width: 185%" type="text" class="input2" value="{{a[0].titulo}}" name="titulo" id="cantida" readonly>
                        <input style="width: 15%" type="text" class="input2" value="{{a[1]}}" name="cantidad" id="cantida" readonly>
                    </div>
                    {% endfor %}
                </div>

                <div class="update">
                    <label for="cantida">Valor total:</label>
                    <input type="text" class="input2" value="{{total}}" name="cantida" id="cantida" readonly>
                </div>
                <div>
                    <p>IMPORTANTE: El pedido solo se guardara en el sistema por un tiempo maximo de 30 dias, pasado este tiempo la reserva sera eliminada, ademas, si un administrador determina que la reserva debe ser borrada, la misma se eliminara del sistema y los productos reservados volveran a inventario</p>
                </div>
                <hr style="color: black;margin-top: 50px;">
                <div class="update" style="display: flex;flex-direction: row;">
                    <input type="submit" class="update_button" value="Generar Reserva">
                    <a href="{{url_for('carrito')}}" class="back__button2">Cancelar</a>
                </div>
            </form>
        </section>
    </section>

  <footer class="footer">
    <p>Términos de uso</p>
    <p>Declaración de privacidad</p>
    <p>Centro de Ayuda</p>
</footer>

</body>
</html>
