<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static',filename='./images/favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/estilos.css')}}">
    <title>{{titulo_pagina}}</title>
</head>
<body>

    <div class="barra_navegacion">
        <nav>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename = './images/LiBy-logos_white.png')}}" alt="Logo de Liby" class="logo">
        </a>
        <form class="barra_busqueda" method="POST" action="{{ url_for('buscar') }}">
            <input type="text" name="entrada" placeholder="Buscar...">
            <input type="image" src="{{ url_for('static', filename = './images/lupita.png')}}" class="search_button">
        </form>
        <a href="./Login">
            <img src="{{ url_for('static', filename = './images/user-icon.png')}}" alt="Acceso a perfil" class="logo2">
        </a>
        </nav>
    </div>
    <hr>
    <section class="window2">
        <div>
            <h1>Resumen de Compra</h1>
            <hr style="color: black;">
        </div>
        <section class="carrusel4">
            <div>
                <label>Productos</label>
                <hr>
            </div>
            <div>
                <label></label>
            </div>
            {% for a in articles %}
                <div style="display: grid;grid-template-columns: repeat(1, 1fr);justify-items: left;padding: 10px 0px;">
                    <label>Titulo:</label>
                    <label>{{a[0].titulo}}</label>
                </div>
                <div style="display: grid;grid-template-columns: repeat(1, 1fr);justify-items: left;padding: 10px 0px;">
                    <label>Cantidad: {{a[1]}}</label>
                    <label>Precio: ${{a[0].precio}}</label>
                </div>
                <div>
                    <label>Precio Total</label>
                </div>
                <div>
                    <label>${{a[1] * a[0].precio}}</label>
                </div>
                <hr>
                <hr>
            {% endfor %}
        </section>
        <div>
            <hr style="color: black;margin-top: 50px;">
            <label for="cantida">Valor total:</label>
            <input type="text" style="width: 30%;" class="input2" value="{{total}}" name="cantida" id="cantida" readonly>
            
            <hr style="color: black;">
            <div style="margin-top: 30px;margin-left: 35%;">
                <a href="{{url_for('pagarAhora', total = total)}}" class="back__button2">Pagar Ahora</a>
                <a href="{{url_for('pagarDespues',total = total)}}" class="back__button2">Pagar Después</a>
            </div>
        </div>
    </section>

  <footer class="footer">
    <p>Términos de uso</p>
    <p>Declaración de privacidad</p>
    <p>Centro de Ayuda</p>
</footer>

</body>
</html>
